    body {
        margin: 0;
        font-family: 'Comic Sans MS';
        background-image: url(img/day.jpg);
        color: black;
        background-size: cover;
    }
    
    .dark-mode {
        background-image: url(img/night.jpg);
        color: white;
        background-size: cover;
    }