    body {
        margin: 0;
        font-family: 'Comic Sans MS';
        background-image: url(img/day.jpg);
        color: black;
        background-size: cover;
    }
    
    .dark-mode {
        background-image: url(img/night.jpg);
        color: white;
        background-size: cover;
    }
    
    .wrapper {
        position: absolute;
        top: 3%;
        right: 5%;
        transform: translate(-50%, -50%);
    }
    
    #hide-checkbox {
        opacity: 0;
        height: 0;
        width: 0;
    }
    
    .toggle {
        position: relative;
        cursor: pointer;
        display: inline-block;
        width: 60px;
        height: 34px;
        background: #48dcf7;
        border-radius: 50px;
        transition: 500ms;
        overflow: hidden;
    }
    
    .toggle-button {
        position: absolute;
        display: inline-block;
        top: 2px;
        left: 3px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        background: #F7FFFF;
        box-shadow: 0 0 35px 5px rgba(255, 255, 255);
        transition: all 500ms ease-out;
    }
    
    #hide-checkbox:checked+.toggle {
        background: #211042;
    }
    
    #hide-checkbox:checked+.toggle .toggle-button {
        background: #FAEAF1;
        box-shadow: 0 0 35px 4px rgba(255, 255, 255);
        transform: translateX(25px);
    }